html,
body {
  height: 100%;
  font-family: "Lato", Sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 38px;
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: -.5px;
}

.header, .footer {
  color: rgb(211, 247, 255);
}

.home-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  height: 50px;
  background-color: #555555;
  padding-top: 10px;
  margin-bottom: 50px;
  color: white;
}

.header-link {
  display: inline-block;
}

.home-container {
  display: flex;
  justify-content: center;
}

.home-content {
  padding: 20px 80px;
  max-width: 1280px;
  display: grid;
  vertical-align: center;
  align-content: end;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  grid-row-gap: 55px;
  grid-column-gap: 45px;
  grid-template-areas:
    "bloc1 bloc2"
    "bloc3 bloc4"
    "bloc5 bloc6"
    "bloc7 bloc8"
    "bloc9 bloc10";
}

input.login_button {
  box-shadow: none;
  border: none;
  line-height: initial;
  /* Etc. */
}



.home-bloc-1 {
  grid-area: bloc1;
}

.home-bloc-2 {
  grid-area: bloc2;
}

.home-bloc-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.home-test-link {
  margin-top : 30px;
  font-size: 34px;
}

.home-div-test {
  text-align: center;
  box-sizing: border-box;
  box-shadow: 1px 1px 1px grey;
  border: solid;
  border-radius: 10px;
  border-color: #3d7be5;
  padding: 5px 5px;
  margin: 20px;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #3d7be5;
}

.home-bloc-3 {
  grid-area: bloc3;
}

.home-bloc-4 {
  grid-area: bloc4;
}

.home-bloc-5 {
  grid-area: bloc5;
}

.home-bloc-6 {
  grid-area: bloc6;
}

.home-bloc-7 {
  grid-area: bloc7;
}

.home-bloc-8 {
  grid-area: bloc8;
}

.home-bloc-9 {
  grid-area: bloc9;
}

.home-bloc-10 {
  grid-area: bloc10;
}

.home-content-item-text {
  color: #555555; 
  font-size: 1.2rem;
  line-height: 1.5;
}

.home-content-item-text h2 {
  margin-bottom: 20px;
}

.home-content-item-image {
  min-width: 300px;
}

.home-paragraphe-blue {
  background-color: #0077CC;
  color: #ffffff;
}

.home-paragraph-icon {
  color: #0077CC;
  width: 36px;
}

@media only screen and (max-width: 768px) {
  .home-content {
    grid-template-columns: 1fr;
    grid-template-areas:
    "bloc1"
    "bloc2"
    "bloc4"
    "bloc3"
    "bloc5"
    "bloc6"
    "bloc8"
    "bloc7"
    "bloc9"
    "bloc10";
  }

  .home-test-link {
    margin-top : 10px;
    font-size: 24px;
  }

  .home-div-test {
    text-align: center;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px grey;
    border: solid;
    border-radius: 10px;
    border-color: #3d7be5;
    padding: 5px 5px;
    margin: 10px;
  }
}
