html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.header, .footer {
  color: rgb(211, 247, 255);
}

.cont {
  background-image: url('./images/fab3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.app {
  background: rgba(104, 104, 104, 0.7);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.1),  rgba(104, 104, 104, 0.7),  rgba(104, 104, 104, 0.8) 50%, rgba(104, 104, 104, 0.7), rgba(255, 255, 255, 0.1));

  font-size: calc(14px + 3vmin);
  color: white;
  padding-bottom: 10px;
  width: 80%;
}

.app-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.italic {
  font-style: italic;
}

.btn-xl {
  font-size: calc(14px + 3vmin);
}

.emoji {
  width: 100px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .emoji {
    width: 50px;
  }
}

.inputmood {
  width: 150px;
  height: 30px;
  display: inline-block;
  font-size: 0.4em;
  box-sizing: content-box;
  border: 1;
}

.inputmood:hover {
  background-color: #EEEEEE;
}

.badgemood {
  border: solid;
  border-radius: 20px;
  font-size: 0.6em;
  background-color: red;
  padding: 0 6px;
}

.small {
  font-size: 0.4em;
  width: 300px;
}

.arrow {
  height: 30px;
} 

.form {
  background-color: rgb(238, 238, 238);
  border-radius: 20px;
  border: solid;
  border-color: black;
}
