html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.app {
  background-color: #282c34;
  font-size: calc(14px + 3vmin);
  color: white;
  padding-bottom: 10px;
}

.app-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.italic {
  font-style: italic;
}

.btn-xl {
  font-size: calc(14px + 3vmin);
}

.emoji {
  width: 100px;
}

.inputmood {
  width: 150px;
  height: 30px;
  display: inline-block;
  font-size: 0.4em;
}

.badgemood {
  border: solid;
  border-radius: 20px;
  font-size: 0.6em;
  background-color: red;
  padding: 0 6px;
}

.small {
  font-size: 0.4em;
  width: 300px;
}

.arrow {
  height: 30px;
} 

.form {
  background-color: rgb(238, 238, 238);
  border-radius: 20px;
  border: solid;
  border-color: black;
}
